<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Keyboard Layout</title>
</head>
<body>
    <div class="keyboard">
        <div class="col col1-5">
            <div class="row a">
                <div id="a1" class="switch horizontal">a1</div>
                <div id="a2" class="switch horizontal">a2</div>
                <div id="a3" class="switch horizontal">a3</div>
                <div id="a4" class="switch horizontal">a4</div>
                <div id="a5" class="switch horizontal">a5</div>
            </div>
            <div class="row b">                
                <div id="b1" class="switch horizontal">b1</div>
                <div id="b2" class="switch horizontal">b2</div>
                <div id="b3" class="switch horizontal">b3</div>
                <div id="b4" class="switch horizontal">b4</div>
                <div id="b5" class="switch horizontal">b5</div>
            </div>
            <div class="row c">
                <div id="c1" class="switch horizontal">c1</div>
                <div id="c2" class="switch horizontal">c2</div>
                <div id="c3" class="switch horizontal">c3</div>
                <div id="c4" class="switch horizontal">c4</div>
                <div id="c5" class="switch horizontal">c5</div>
            </div>
            <div class="row d">
                <div class="encoder big">c6</div>
                <div class="keys">
                    <div id="d1" class="switch vertical">d1</div>
                    <div id="d2" class="switch vertical">d2</div>
                    <div id="d3" class="switch vertical">d3</div>
                    <div id="d4" class="switch vertical">d4</div>
                    <div id="d5" class="switch vertical">d5</div>
                </div>
            </div>
            <div class="row e">
                <div class="vertical">
                    <div id="e1" class="switch xl horizontal">e1</div>
                    <div id="e2" class="switch xl horizontal">e2</div>
                </div>
                <div class="vertical">
                    <div id="e3" class="switch xl horizontal">e3</div>
                    <div id="e4" class="switch xl horizontal">e4</div>
                </div>
            </div>
        </div>
        <div class="col col6-18">
            <div class="keypad">
                <div class="row a">
                    <div class="switch horizontal bigger">a6</div>
                    <div class="switch horizontal">a7</div>
                    <div class="switch horizontal">a8</div>
                    <div class="switch horizontal">a9</div>
                    <div class="switch horizontal">a10</div>
                    <div class="switch horizontal">a11</div>
                    <div class="switch horizontal">a12</div>
                    <div class="switch horizontal">a13</div>
                    <div class="switch horizontal">a14</div>
                    <div class="switch horizontal">a15</div>
                    <div class="switch horizontal">a16</div>
                    <div class="switch horizontal bigger">a17</div>
                </div>
                <div class="row b">
                    <div class="switch horizontal">b6</div>
                    <div class="switch horizontal">b7</div>
                    <div class="switch horizontal">b8</div>
                    <div class="switch horizontal">b9</div>
                    <div class="switch horizontal">b10</div>
                    <div class="switch horizontal">b11</div>
                    <div class="switch horizontal">b12</div>
                    <div class="switch horizontal">b13</div>
                    <div class="switch horizontal">b14</div>
                    <div class="switch horizontal">b15</div>
                    <div class="switch horizontal">b16</div>
                    <div class="switch horizontal">b17</div>
                    <div class="switch horizontal">b18</div>
                </div>
                <div class="row c">
                    <div class="switch horizontal bigger">c7</div>
                    <div class="switch horizontal">c8</div>
                    <div class="switch horizontal">c9</div>
                    <div class="switch horizontal">c10</div>
                    <div class="switch horizontal">c11</div>
                    <div class="switch horizontal">c12</div>
                    <div class="switch horizontal">c13</div>
                    <div class="switch horizontal">c14</div>
                    <div class="switch horizontal">c15</div>
                    <div class="switch horizontal">c16</div>
                    <div class="switch horizontal">c17</div>
                    <div class="switch horizontal bigger">c18</div>
                </div>
                <div class="row d">
                    <div class="switch horizontal">d6</div>
                    <div class="switch horizontal">d7</div>
                    <div class="switch horizontal">d8</div>
                    <div class="switch horizontal">d9</div>
                    <div class="switch horizontal">d10</div>
                    <div class="switch horizontal">d11</div>
                    <div class="switch horizontal">d12</div>
                    <div class="switch horizontal">d13</div>
                    <div class="switch horizontal">d14</div>
                    <div class="switch horizontal">d15</div>
                    <div class="switch horizontal">d16</div>
                    <div class="switch horizontal">d17</div>
                    <div class="switch horizontal">d18</div>
                </div>

            </div>
            <div class="encoder-section">
                <div class="encoder">e5</div>
                <div class="vertical key">
                    <div class="switch">e6</div>
                    <div class="switch">e7</div>
                </div>    
                <div class="encoder">e8</div>
                <div class="vertical key">
                    <div class="switch">e9</div>
                    <div class="switch">e10</div>
                </div>
                <div class="encoder">e11</div>
                <div class="vertical key">
                    <div class="switch">e12</div>
                    <div class="switch">e13</div>
                </div>
                <div class="encoder">e14</div>
                <div class="vertical key">
                    <div class="switch">e15</div>
                    <div class="switch">e16</div>            
                </div>
                <div class="encoder">e17</div>
            </div>
        </div>
        <div class="col col19-22">
            <div class="multiblock">
                <div class="row">
                    <div class="vertical">
                        <div id="a21" class="switch horizontal">a21</div>
                        <div id="a22" class="switch horizontal">a22</div>
                    </div>
                    <div class="vertical">
                        <div id="b21" class="switch horizontal">b21</div>
                        <div id="b22" class="switch horizontal">b22</div>
                    </div>
                </div>
                <div class="row">
                    <div class="vertical">
                        <div id="c21" class="switch horizontal">c21</div>
                        <div id="c22" class="switch horizontal">c22</div>
                    </div>
                    <div class="vertical">
                        <div id="d21" class="switch horizontal">d21</div>
                        <div id="d22" class="switch horizontal">d22</div>
                    </div>
                </div>
            </div>
            <div id="a19-d20" class="multiblock">
                <div class="row">
                    <div class="vertical">
                        <div id="a19" class="switch horizontal">a19</div>
                        <div id="a20" class="switch horizontal">a20</div>
                    </div>
                    <div class="vertical">
                        <div id="b19" class="switch horizontal">b19</div>
                        <div id="b19" class="switch horizontal">b20</div>
                    </div>
                </div>
                <div class="row">
                    <div class="vertical">
                        <div id="c19" class="switch horizontal">a19</div>
                        <div id="c20" class="switch horizontal">a20</div>
                    </div>
                    <div class="vertical">
                        <div id="d19" class="switch horizontal">b19</div>
                        <div id="d20" class="switch horizontal">b20</div>
                    </div>
                </div>
            </div>
            <div class="layer-block">
                <div id="l1" class="switch vertical layer">L1</div>
                <div id="l2" class="switch vertical layer">L2</div>
                <div id="l3" class="switch vertical layer">L3</div>
            </div>
        </div>
    </div>
</body>
</html>